@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Merriweather-Regular.woff2) format("woff2"),
    url(./fonts/Merriweather-Light.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/WorkSans-Regular.woff2) format("woff2"),
    url(./fonts/WorkSans-Regular.woff) format("woff");
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "WorkSans", "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  font: inherit;
}

b {
  display: block;
  font: inherit;
}

i {
  font-style: normal;
}

a,
button {
  transition: all 0.1s ease-in;
}

a[href^="tel"] {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  border: 0;
}

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 395px;
}

.header {
  padding: 40px 20px 30px;
  position: relative;
  border-bottom: 3px solid #f8f8f8;
  box-shadow: 0px 20px 80px rgb(10 14 18 / 10%);
}

.header__title {
  font-family: "Merriweather", serif;
  max-width: 365px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
}

.header__description {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
  letter-spacing: 0.04em;
}

.header__link {
  color: #4285f4;
  text-decoration: none;
  margin-left: 3px;
}

.header__btn-close {
  position: absolute;
  top: 0;
  right: 8px;
  width: 40px;
  height: 40px;
  padding: 15px;
  opacity: 0.6;
}

.header__btn-close:hover {
  cursor: pointer;
}

.main {
  background-color: #f8f8f8;
  padding: 20px;
}

.main__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px;
  padding-left: 19px;
  box-shadow: 0px 5px 15px rgba(10, 14, 18, 0.05);
  border-radius: 2px;
  margin-top: 10px;
  color: #333333;
  border-left: 5px solid #333333;
  opacity: 1;
}

.main__item--active {
  cursor: pointer;
  color: #4285f4;
  border-color: #4285f4;
  opacity: 1;
  fill: #4285f4;
}

.main__item:hover {
  cursor: pointer;
  color: #4285f4;
  border-color: #4285f4;
  opacity: 1;
  fill: #4285f4;
}

.main__item--active:hover {
  color: #4285f4 !important;
  border-left: 5px solid #4285f4 !important;
  fill: #4285f4 !important;
  opacity: 1 !important;
}

.main__list:hover .main__item--active {
  color: #333333;
  border-left: 5px solid #333333;
  fill: #333333;
  opacity: 1;
}

.main__list:hover .main__item {
  opacity: 0.4;
}

.main__item:hover {
  opacity: 1 !important;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.main__item:first-child {
  margin-top: 0;
}

.main__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
  color: inherit;
}

.main__price {
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 6px;
  color: inherit;
}

.main__description {
  max-width: 270px;
  font-size: 12px;
  line-height: 14px;
  color: #737373;
}

.footer {
  border-top: 1px solid #e2e2e2;
  background-color: #ffffff;
  padding: 18px;
  box-shadow: 0px 20px 80px rgba(10, 14, 18, 0.1);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #4285f4;
  font-size: 12px;
  margin-bottom: 10px;
}
